annotated-types==0.7.0
anyio==3.7.1
asyncio-mqtt==0.16.1
certifi==2025.6.15
charset-normalizer==3.4.2
click==8.1.8
exceptiongroup==1.3.0
fastapi==0.104.1
h11==0.16.0
idna==3.10
Jinja2==3.1.6
MarkupSafe==3.0.2
paho-mqtt==2.1.0
pydantic==2.5.0
pydantic_core==2.14.1
pyserial==3.5
python-json-logger==2.0.7
python-multipart==0.0.6
requests==2.31.0
sniffio==1.3.1
starlette==0.27.0
swagger-ui-bundle==0.0.9
typing_extensions==4.14.0
urllib3==2.5.0
uvicorn==0.24.0
